@using System.Data;
@using WebChat.Models;

@model ViewModel

<!DOCTYPE html>
<asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true" />
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TPMH Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="#">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/lib/bootstrap.min.css" type="text/css" rel="stylesheet">
    <!-- Swipe core CSS -->
    <link href="~/Content/css/swipe.min.css" type="text/css" rel="stylesheet">
    <!-- Favicon -->
    <link href="~/Content/img/favicon.png" type="image/png" rel="icon">

</head>
<body>
    <div>

    </div>
    <!-- Layout -->
    <div class="layout">
        <!-- Start of Navigation -->
        <nav class="navigation">
            <div class="container">
                <a href="#" class="logo" rel="home"><img src="~/Content/img/dataimage.png" alt="logo"></a>
                <ul class="nav" role="tablist">
                    <li><a href="#conversations" class="active" data-toggle="tab" role="tab" aria-controls="conversations" aria-selected="true"><i data-eva="message-square" data-eva-animation="pulse"></i></a></li>
                    <li><a href="#settings" data-toggle="tab" role="tab" aria-controls="settings" aria-selected="false"><i data-eva="settings" data-eva-animation="pulse"></i></a></li>
                    <li><button type="button" class="btn"><img src="~/Content/img/avatars/avatar-male-1.jpg" alt="avatar"><i data-eva="radio-button-on"></i></button></li>
                </ul>
            </div>
        </nav>
        <!-- End of Navigation -->
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="container">
                <div class="tab-content">
                    <!-- Start of Discussions -->
                    <div class="tab-pane fade show active" id="conversations" role="tabpanel">
                        <div class="top">
                            <form>
                                <input type="search" class="form-control" placeholder="Tìm kiếm">
                                <button type="submit" class="btn prepend"><i data-eva="Search"></i></button>
                            </form>
                            <ul class="nav" role="tablist">
                                <li><a class="filter-btn  active" data-toggle="tab" data-filter="groups">Nhóm</a></li>
                            </ul>

                        </div>
                        @RenderBody()
                    </div>
                    <!-- End of Discussions -->
                    <!-- Tùy chọn -->
                    <div class="settings tab-pane fade" id="settings" role="tabpanel">
                        <div class="user">
                            <label>
                                <input type="file" accept=".jpg,.png,.jepg">
                                <img src="~/Content/img/avatars/avatar-male-1.jpg" alt="avatar">
                            </label>
                            <div class="content">
                                @{
                                    HttpCookie cookie = Request.Cookies["userID"];
                                    var UserId = Int32.Parse(cookie.Value);
                                    foreach (var item in Model.Users)
                                    {
                                        if (UserId == item.UserID)
                                        {
                                            <h5>@item.DisplayName</h5>
                                            <span>@item.UserID</span>
                                        }
                                    }
                                }

                            </div>
                        </div>
                        <h4>Tùy chọn</h4>
                        <ul id="preferences">
                            <!-- Bảo mật -->
                            <li>
                                <a href="#" class="headline" data-toggle="collapse" aria-expanded="false" data-target="#account" aria-controls="account">
                                    <div class="title">
                                        <h5>Tài Khoản</h5>
                                        <p>Cập nhật thông tin cá nhân của bạn.</p>
                                    </div>
                                    <i data-eva="arrow-ios-forward"></i>
                                    <i data-eva="arrow-ios-downward"></i>
                                </a>
                                <div class="content collapse" id="account" data-parent="#preferences">
                                    <div class="inside">
                                        <form class="account">
                                            <div class="form-row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Họ</label>
                                                        <input type="text" class="form-control" placeholder="Họ" value="Hoàng">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Tên</label>
                                                        <input type="text" class="form-control" placeholder="Tên" value="Tùng">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Địa chỉ Email</label>
                                                <input type="email" class="form-control" placeholder="Địa chỉ email của bạn" value="tungtung@gmail.com">
                                            </div>
                                            <div class="form-group">
                                                <label>Mật khẩu mới</label>
                                                <input type="password" class="form-control" placeholder="Nhập mật khẩu của bạn" value="3921847634095723">
                                            </div>
                                            <div class="form-group">
                                                <label>Xác nhận mật khẩu mới</label>
                                                <input type="password" class="form-control" placeholder="Nhập mật khẩu của bạn" value="3921847634095723">
                                            </div>
                                            <div class="form-group">
                                                <label>Mô tả</label>
                                                <textarea class="form-control" placeholder="Giới thiệu một chút về bản thân bạn"></textarea>
                                            </div>
                                            <button type="submit" class="btn primary">Lưu</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <!-- Kết thúc tài khoản -->
                            <!-- Bảo mật -->
                            <li>
                                <a href="#" class="headline" data-toggle="collapse" aria-expanded="false" data-target="#privacy" aria-controls="privacy">
                                    <div class="title">
                                        <h5>Bảo mật</h5>
                                        <p>Bảo vệ tài khoản của bạn</p>
                                    </div>
                                    <i data-eva="arrow-ios-forward"></i>
                                    <i data-eva="arrow-ios-downward"></i>
                                </a>
                                <div class="content collapse" id="privacy" data-parent="#preferences">
                                    <div class="inside">
                                        <ul class="options">
                                            <li>
                                                <div class="headline">
                                                    <h5>Chế độ an toàn</h5>
                                                    <label class="switch">
                                                        <input type="checkbox" checked>
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                                <p>Lọc những tin nhắn nghi ngờ hoặc có nội dung không phù hợp</p>
                                            </li>
                                            <li>
                                                <div class="headline">
                                                    <h5>Lịch sử </h5>
                                                    <label class="switch">
                                                        <input type="checkbox" checked>
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                                <p>Lưu lại lịch sử các cuộc trò chuyện</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- Kết thúc bảo mật -->
                            <!-- Start of Notifications -->
                            <li>
                                <a href="#" class="headline" data-toggle="collapse" aria-expanded="false" data-target="#alerts" aria-controls="alerts">
                                    <div class="title">
                                        <h5>Thông báo</h5>
                                        <p>Tùy chọn cài đặt cho thông báo.</p>
                                    </div>
                                    <i data-eva="arrow-ios-forward"></i>
                                    <i data-eva="arrow-ios-downward"></i>
                                </a>
                                <div class="content collapse" id="alerts" data-parent="#preferences">
                                    <div class="inside">
                                        <ul class="options">
                                            <li>
                                                <div class="headline">
                                                    <h5>Thông báo đẩy</h5>
                                                    <label class="switch">
                                                        <input type="checkbox" checked>
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                                <p>Hiển thi thông báo biểu ngữ</p>
                                            </li>
                                            <li>
                                                <div class="headline">
                                                    <h5>Âm thanh</h5>
                                                    <label class="switch">
                                                        <input type="checkbox" checked>
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                                <p>Âm thanh thông báo khi nhận được tin nhắn mới ngoài cuộc trò chuyện đang diễn ra</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- Kết thúc thông báo -->
                            <!-- Tích hợp -->
                            <li>
                                <a href="#" class="headline" data-toggle="collapse" aria-expanded="false" data-target="#integrations" aria-controls="integrations">
                                    <div class="title">
                                        <h5>Tích hợp</h5>
                                        <p>Đồng bộ mạng xã hội</p>
                                    </div>
                                    <i data-eva="arrow-ios-forward"></i>
                                    <i data-eva="arrow-ios-downward"></i>
                                </a>
                                <div class="content collapse" id="integrations" data-parent="#preferences">
                                    <div class="inside">
                                        <ul class="integrations">
                                            <li>
                                                <button class="btn round"><i data-eva="google"></i></button>
                                                <div class="content">
                                                    <div class="headline">
                                                        <h5>Google</h5>
                                                        <label class="switch">
                                                            <input type="checkbox" checked>
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                    <span>Đọc, ghi, chỉnh sửa</span>
                                                </div>
                                            </li>
                                            <li>
                                                <button class="btn round"><i data-eva="facebook"></i></button>
                                                <div class="content">
                                                    <div class="headline">
                                                        <h5>Facebook</h5>
                                                        <label class="switch">
                                                            <input type="checkbox" checked>
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                    <span>Đọc, ghi, chỉnh sửa</span>
                                                </div>
                                            </li>
                                            <li>
                                                <button class="btn round"><i data-eva="twitter"></i></button>
                                                <div class="content">
                                                    <div class="headline">
                                                        <h5>Twitter</h5>
                                                        <label class="switch">
                                                            <input type="checkbox">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                    <span>Không cho phép</span>
                                                </div>
                                            </li>
                                            <li>
                                                <button class="btn round"><i data-eva="linkedin"></i></button>
                                                <div class="content">
                                                    <div class="headline">
                                                        <h5>LinkedIn</h5>
                                                        <label class="switch">
                                                            <input type="checkbox">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                    <span>Không cho phép</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- Kết thúc tích hợp -->
                            <!-- Giao diện -->
                            <li>
                                <a href="#" class="headline" data-toggle="collapse" aria-expanded="false" data-target="#appearance" aria-controls="appearance">
                                    <div class="title">
                                        <h5>Đăng xuất</h5>

                                    </div>
                                    <i data-eva="arrow-ios-forward"></i>
                                    <i data-eva="arrow-ios-downward"></i>
                                </a>
                                <div class="content collapse" id="appearance" data-parent="#preferences">
                                    <div class="inside">
                                        <ul class="options">
                                            <li>
                                                <input type="button" title="LogOut" value="Đăng xuất" class="btn primary" onclick="location.href='@Url.Action("LogOut", "Main")'" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- Két thúc giao diện -->
                        </ul>
                    </div>
                    <!-- Kết thúc tùy chọn -->
                </div>
            </div>
        </div>
        <!-- Kết thúc Sidebar -->
        <!--  Chat -->
        <div class="chat">
            <div class="tab-content">
                @{Html.RenderPartial("~/Views/Partial/ChatRoomPartialPage1.cshtml");}
            </div>
        </div>
        <!-- End of Chat -->
        <!-- Start of Compose -->
        @{ Html.RenderPartial("~/Views/Partial/_CreateRoomPartialPage1.cshtml");}
        <!-- End of Compose -->
    </div>
    <!-- Layout -->
    <script src="~/Content/js/vendor/jquery-slim.min.js"></script>
    <script src="~/Content/js/vendor/popper.min.js"></script>
    <script src="~/Content/js/vendor/feather.min.js"></script>
    <script src="~/Content/js/vendor/eva.min.js"></script>
    <script src="~/Content/js/vendor/jquery.js"></script>
    <script src="~/Content/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/js/swipe.min.js"></script>
    <script src="~/Content/js/message.js"></script>
    <script src="~/Content/js/Assignment.js"></script>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message")
            });
        </script>
    }
</body>
</html>																																																										