@model WebChat.Models.ViewModel


<div class="tab-content">
        @foreach (var item1 in Model.ChatRoom)
        {
            <div class="tab-pane fade" id="chat@(item1.RoomID)" role="tabpanel">
                <div class="item">
                    <div class="content">
                        <div class="container">
                            <div class="top">
                                <div class="headline">
                                    <img src="~/Content/img/avatars/avatar-group-1.jpg" alt="avatar">
                                    <div class="content">
                                        <h5>@item1.RoomName</h5>
                                        <span>ID: @item1.RoomID</span>
                                    </div>
                                </div>
                                <ul>

                                    <li><button type="button" class="btn"><i data-eva="video" data-eva-animation="pulse"></i></button></li>
                                    <li><button type="button" class="btn"><i data-eva="phone" data-eva-animation="pulse"></i></button></li>
                                    <li><button type="button" class="btn" data-toggle="modal" data-target="#compose"><i data-eva="person-add" data-eva-animation="pulse"></i></button></li>
                                    <li><button type="button" class="btn" data-utility="open"><i data-eva="info" data-eva-animation="pulse"></i></button></li>
                                    <li><button type="button" class="btn round" data-chat="open"><i data-eva="arrow-ios-back"></i></button></li>
                                    <li>
                                        <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-eva="more-vertical" data-eva-animation="pulse"></i></button>
                                        <div class="dropdown-menu">
                                            <button type="button" class="dropdown-item"><i data-eva="video"></i>Video call</button>
                                            <button type="button" class="dropdown-item"><i data-eva="phone"></i>Voice call</button>
                                            <button type="button" class="dropdown-item" data-toggle="modal" data-target="#compose"><i data-eva="person-add"></i>Add people</button>
                                            <button type="button" class="dropdown-item" data-utility="open"><i data-eva="info"></i>Information</button>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="middle">
                            <div class="container">
                                <ul class ="messagelist" id="@(item1.RoomID)message-container">  </ul>
                            </div>
                        </div>
                        <div class="container">
                            <div class="bottom">
                                <form>
                                    <textarea class="form-control InputMessage" id="@(item1.RoomID)InputMessage" placeholder="Type message..." rows="1"></textarea>
                                    <button type="button" id="@(item1.RoomID)SendButton" class="btn prepend SendButton"><i data-eva="paper-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Start of Utility -->
                    <div class="utility">
                        <div class="container">   
                            <h4>@(item1.RoomName)</h4>
                            <ul class="nav" role="tablist">
                                <li><a href="#users2" class="active" data-toggle="tab" role="tab" aria-controls="users2" aria-selected="true">Người dùng trong phòng</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="users2" role="tabpanel">
                
                                    @foreach (var item2 in Model.Room_Users)
                                    {
                                        if (item2.RoomID == item1.RoomID)
                                        {
                                            foreach (var item3 in Model.Users)
                                            {
                                                if (item3.UserID == item2.UserID)
                                                {
                                                    <ul class="users">
                                                        <li id="user@(item3.UserID)inroom@(item1.RoomID)">
                                                            <div class="status online"><img src="~/Content/img/avatars/avatar-male-1.jpg" alt="avatar"><i data-eva="radio-button-on"></i></div>
                                                            <div class="content">
                                                                <h5>@item3.DisplayName</h5>
                                                                <span>@item3.Username</span>
                                                            </div>
                                                            @{
                                                                HttpCookie cookie = Request.Cookies["userID"];
                                                                var currentUser = Int32.Parse(cookie.Value);
                                                                if (currentUser == item1.RoomAdmin && currentUser != item3.UserID)
                                                                {                                  
                                                                        <div class="dropdown">
                                                                            <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-eva="more-vertical"></i></button>
                                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                                <button id="@(item3.UserID)-@(item1.RoomID)" type="button" class="dropdown-item kickbutton">
                                                                                    Kick khỏi phòng
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                }
                                                            }
                                                        </li>
                                                    </ul>
                                                }
                                            }
                                        }
                                     }

                                </div>

                            </div>
                            <button id="@(item1.RoomID)ExitRoom" type="button" class="btn primary leavebutton">Thoát khỏi phòng</button>
                        </div>
                    </div>
                    <!-- End of Utility -->
                </div>
            </div>
            <!-- End of Chat Room -->
        }

</div>
